Repository pietervdvn/MapComplete, pull requests merged in 2022-10, with the labels that each got.

#1097 feat(themes): add osm community index as a layer
  assets/layers/osm_community_index/license_info.json
  assets/layers/osm_community_index/osm.svg
  assets/layers/osm_community_index/osm_community_index.json
  assets/themes/mapcomplete-changes/mapcomplete-changes.json
  assets/themes/osm_community_index/license_info.json
  assets/themes/osm_community_index/osm.svg
  assets/themes/osm_community_index/osm_community_index.json
Labels: hacktoberfest

#1034 Feature/bicycle road
  assets/themes/cyclestreets/Finland_road_sign_E28.svg
  assets/themes/cyclestreets/Finland_road_sign_E29.svg
  assets/themes/cyclestreets/Zeichen_244.svg
  assets/themes/cyclestreets/Zeichen_244_1020-30.svg
  assets/themes/cyclestreets/Zeichen_244_1022-12.svg
  assets/themes/cyclestreets/Zeichen_244_1024-10.svg
  assets/themes/cyclestreets/Zeichen_244_KFZ_frei.svg
  assets/themes/cyclestreets/Zeichen_244a.svg
  assets/themes/cyclestreets/cyclestreets.json
  assets/themes/cyclestreets/license_info.json
  langs/themes/ca.json
  langs/themes/da.json
  langs/themes/de.json
  langs/themes/en.json
  langs/themes/es.json
  langs/themes/fr.json
  langs/themes/hu.json
  langs/themes/it.json
  langs/themes/ja.json
  langs/themes/nb_NO.json
  langs/themes/nl.json
Labels: enhancement, Theme ideas

#1025 Post partners and parcel lockers
  assets/layers/parcel_lockers/parcel_lockers.json
  assets/layers/postoffices/postoffices.json
  assets/themes/postboxes/postboxes.json
  langs/layers/de.json
  langs/layers/en.json
  langs/layers/hu.json
  langs/layers/nl.json
  langs/layers/zh_Hant.json
  langs/themes/en.json
Labels: enhancement, Theme ideas

#1107 Feature/osm for the blind
  assets/language_native.json
  assets/language_translations.json
  assets/layers/crossings/180px-Trairvoja_mapeto.jpg
  assets/layers/crossings/Vibrating_button_illustration.jpg
  assets/layers/crossings/crossings.json
  assets/layers/crossings/license_info.json
  assets/layers/elevator/elevator.json
  assets/layers/filters/filters.json
  assets/layers/kerbs/kerbs.json
  assets/layers/stairs/Braille_stairs.jpg
  assets/layers/stairs/license_info.json
  assets/layers/stairs/stairs.json
  assets/layers/transit_stops/transit_stops.json
  assets/layers/wikidata/wikidata.json
  assets/themes/blind_osm/Blindicon.svg
  assets/themes/blind_osm/blind_osm.json
  assets/themes/blind_osm/license_info.json
  assets/themes/mapcomplete-changes/mapcomplete-changes.json
  langs/layers/de.json
  langs/layers/en.json
  langs/layers/fr.json
  langs/layers/nl.json
  scripts/thieves/stealLanguages.ts
Labels: hacktoberfest, hacktoberfest-accepted
