Repository pietervdvn/MapComplete, pull requests merged in 2022-07, with the labels that each got.

#924 Feature/doctor
  assets/layers/doctors/doctors.json
  assets/layers/doctors/doctors.svg
  assets/layers/doctors/license_info.json
  assets/themes/doctors/doctors.json
  assets/themes/mapcomplete-changes/mapcomplete-changes.json
Labels: Theme ideas, Osoc22:onwheels

#922 Gitpod vscode
  .gitignore
  .gitpod.yml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Labels: Osoc22:onwheels

#923 Transit
  assets/layers/shelter/license_info.json
  assets/layers/shelter/shelter.json
  assets/layers/shelter/shelter.svg
  assets/layers/transit_routes/transit_routes.json
  assets/layers/transit_stops/bus_stop.svg
  assets/layers/transit_stops/license_info.json
  assets/layers/transit_stops/transit_stops.json
  assets/themes/mapcomplete-changes/mapcomplete-changes.json
  assets/themes/transit/transit.json
  langs/layers/en.json
  langs/layers/it.json
  langs/layers/nl.json
  langs/themes/en.json
  langs/themes/it.json
Labels: Osoc22:onwheels

#950 Parking
  assets/layers/doctors/doctors.json
  assets/layers/kerbs/kerbs.json
  assets/layers/parking/parking.json
  assets/layers/rainbow_crossings/rainbow_crossings.json
  assets/themes/mapcomplete-changes/mapcomplete-changes.json
  assets/themes/onwheels/onwheels.json
  langs/layers/de.json
  langs/layers/en.json
  langs/layers/nl.json
  langs/themes/en.json
Labels: enhancement, Theme ideas

#988 OnWheels icons
  assets/layers/parking/parking.json
  assets/layers/toilet/toilet.json
  assets/themes/onwheels/bicycle_pump.svg
  assets/themes/onwheels/cafe.svg
  assets/themes/onwheels/cone.svg
  assets/themes/onwheels/doctor.svg
  assets/themes/onwheels/hospital.svg
  assets/themes/onwheels/hotel.svg
  assets/themes/onwheels/license_info.json
  assets/themes/onwheels/onwheels.json
  assets/themes/onwheels/parking.svg
  assets/themes/onwheels/pharmacy.svg
  assets/themes/onwheels/reception.svg
  assets/themes/onwheels/repair.svg
  assets/themes/onwheels/restaurant.svg
  assets/themes/onwheels/shop.svg
  assets/themes/onwheels/toilet.svg
Labels: Theme ideas, Osoc22:onwheels

#991 added a bunch of stuff (changes in pr)
  assets/themes/onwheels/onwheels.json
Labels: Osoc22:onwheels

#1003 Maproulette tasks
  Docs/SpecialRenderings.md
  Logic/FeatureSource/Sources/GeoJsonSource.ts
  Logic/Maproulette.ts
  Logic/State/UserRelatedState.ts
  Models/Constants.ts
  UI/Popup/ImportButton.ts
  UI/Popup/TagApplyButton.ts
  UI/SpecialVisualizations.ts
  assets/layers/maproulette/license_info.json
  assets/layers/maproulette/logomark.svg
  assets/layers/maproulette/maproulette.json
  assets/layers/maproulette_challenge/maproulette_challenge.json
  assets/layers/waste_basket/waste_basket.json
  assets/themes/mapcomplete-changes/mapcomplete-changes.json
  assets/themes/maproulette/maproulette.json
  assets/themes/onwheels/onwheels.json
  assets/themes/street_lighting/street_lighting_assen.json
  langs/layers/en.json
  langs/themes/en.json
  package-lock.json
  package.json
  scripts/onwheels/constants.ts
  scripts/onwheels/convertData.ts
  test/Models/ThemeConfig/Conversion/PrepareLayer.spec.ts
Labels: Osoc22:onwheels
